html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* this does not work on module-based CSS */
.company__input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}