@media (min-width: $mantine-breakpoint-sm) {
    .dashboard__container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: $mantine-breakpoint-md) {
    .dashboard__container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
