.dashboard__container {
    display: grid;

    @media (max-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: $mantine-breakpoint-sm) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
